@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), sans-serif;
  background-color: #fdfbf7;
  -webkit-tap-highlight-color: transparent;
}

/* Hide scrollbar for clean horizontal scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
